<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> By Rajkumar</p>
    <p>Testing the express js with the node js</p>
    <a href="/">Back to Home</a>
  </body>
</html>